USE [master]
GO
/****** Object:  Database [hencore_accpac]    Script Date: 6/25/2025 2:44:13 PM ******/
CREATE DATABASE [hencore_accpac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hencore_accpac', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\hencore_accpac.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hencore_accpac_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\hencore_accpac_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hencore_accpac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hencore_accpac]
GO
/****** Object:  Table [dbo].[AP_MP]    Script Date: 6/25/2025 2:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP_MP](
	[BATCHTYPE] [nchar](2) NULL,
	[CNTBTCH] [decimal](9, 0) NULL,
	[CNTRMIT] [decimal](7, 0) NULL,
	[CNTLINE] [decimal](5, 0) NULL,
	[IDACCT] [nchar](45) NULL,
	[GLREF] [nchar](60) NULL,
	[GLDESC] [nchar](60) NULL,
	[AMTDISTTC] [numeric](19, 3) NULL,
	[AMTNETTC] [numeric](19, 3) NULL,
	[COMPANYID] [nchar](15) NULL,
	[COMENTARIO] [nchar](255) NULL,
	[LOTE] [numeric](9, 0) NULL,
	[ASIENTO] [numeric](7, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AP_PA]    Script Date: 6/25/2025 2:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP_PA](
	[BTCHTYPE] [nchar](2) NULL,
	[CNTBTCH] [decimal](9, 0) NULL,
	[CNTENTR] [decimal](7, 0) NULL,
	[IDRMIT] [nchar](12) NULL,
	[IDVEND] [nchar](12) NULL,
	[DATERMIT] [decimal](9, 0) NULL,
	[TEXTRMIT] [char](60) NULL,
	[NAMERMIT] [nchar](60) NULL,
	[AMTRMIT] [numeric](19, 3) NULL,
	[AMTRMITTC] [numeric](19, 3) NULL,
	[RMITTYPE] [smallint] NULL,
	[DOCTYPE] [smallint] NULL,
	[CNTLSTLINE] [decimal](5, 0) NULL,
	[FISCYR] [nchar](4) NULL,
	[FISCPER] [nchar](2) NULL,
	[AMTRMITHC] [numeric](19, 3) NULL,
	[SWPRINTED] [smallint] NULL,
	[CHECKLANG] [nchar](3) NULL,
	[OPERBANK] [smallint] NULL,
	[OPERVEND] [smallint] NULL,
	[DATEACTVPP] [decimal](9, 0) NULL,
	[SRCEAPPL] [nchar](2) NULL,
	[IDBANK] [nchar](8) NULL,
	[PAYMTYPE] [smallint] NULL,
	[AMTNETTC] [numeric](19, 3) NULL,
	[COMPANYID] [nchar](15) NULL,
	[ESTADO] [nchar](15) NULL,
	[RESULTADO] [nchar](255) NULL,
	[FECHA] [decimal](19, 0) NULL,
	[HORA] [time](7) NULL,
	[LOTE] [decimal](9, 0) NULL,
	[ASIENTO] [decimal](7, 0) NULL,
	[USUARIO] [nchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_MR]    Script Date: 6/25/2025 2:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_MR](
	[CODEPAYM] [nchar](2) NULL,
	[CNTBTCH] [decimal](9, 0) NULL,
	[CNTITEM] [decimal](7, 0) NULL,
	[CNTLINE] [decimal](5, 0) NULL,
	[AMTDIST] [numeric](19, 3) NULL,
	[IDDISTCODE] [nchar](6) NULL,
	[IDACCT] [nchar](45) NULL,
	[GLREF] [nchar](60) NULL,
	[GLDESC] [nchar](60) NULL,
	[AMTDISTTC] [numeric](19, 3) NULL,
	[AMTNETTC] [numeric](19, 3) NULL,
	[COMPANYID] [nchar](15) NULL,
	[COMENTARIO] [nchar](255) NULL,
	[LOTE] [decimal](9, 0) NULL,
	[ASIENTO] [decimal](7, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_RA]    Script Date: 6/25/2025 2:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_RA](
	[CODEPYMTYP] [nchar](2) NULL,
	[CNTBTCH] [decimal](9, 0) NULL,
	[CNTITEM] [decimal](7, 0) NULL,
	[IDRMIT] [nchar](24) NULL,
	[IDCUST] [nchar](12) NULL,
	[DATERMIT] [decimal](12, 0) NULL,
	[TEXTRMIT] [nchar](60) NULL,
	[TXTRMITREF] [nchar](60) NULL,
	[AMTRMIT] [numeric](19, 3) NULL,
	[AMTRMITTC] [numeric](19, 3) NULL,
	[CNTPAYMETR] [decimal](5, 0) NULL,
	[AMTPAYMTC] [numeric](19, 3) NULL,
	[CODEPAYM] [nchar](12) NULL,
	[CODECURN] [nchar](3) NULL,
	[RMITTYPE] [smallint] NULL,
	[DOCTYPE] [smallint] NULL,
	[IDINVCMTCH] [nchar](22) NULL,
	[CNTLSTLINE] [decimal](5, 0) NULL,
	[FISCYR] [nchar](4) NULL,
	[FISCPER] [nchar](2) NULL,
	[TEXTPAYOR] [nchar](60) NULL,
	[DATERATETC] [decimal](9, 0) NULL,
	[AMTRMITHC] [numeric](19, 3) NULL,
	[DOCNBR] [nchar](22) NULL,
	[AMTADJHC] [numeric](19, 3) NULL,
	[OPERBANK] [smallint] NULL,
	[OPERCUST] [smallint] NULL,
	[SRCEAPPL] [nchar](2) NULL,
	[IDBANK] [nchar](8) NULL,
	[CODECURNBC] [nchar](3) NULL,
	[AMTNETTC] [numeric](19, 3) NULL,
	[COMPANYID] [nchar](15) NULL,
	[ESTADO] [nchar](15) NULL,
	[RESULTADO] [nchar](255) NULL,
	[FECHA] [decimal](9, 0) NULL,
	[HORA] [time](7) NULL,
	[LOTE] [decimal](9, 0) NULL,
	[ASIENTO] [decimal](7, 0) NULL,
	[USUARIO] [nchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GL_JD]    Script Date: 6/25/2025 2:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_JD](
	[BATCHNBR] [nchar](6) NULL,
	[JOURNALID] [nchar](5) NULL,
	[TRANSNBR] [nchar](10) NULL,
	[ACCTID] [numeric](18, 0) NULL,
	[COMPANYID] [nchar](15) NULL,
	[TRANSAMT] [decimal](19, 3) NULL,
	[TRANSDESC] [nchar](60) NULL,
	[TRANSREF] [nchar](60) NULL,
	[TRANSDATE] [nchar](15) NULL,
	[COMENTARIO] [nvarchar](255) NULL,
	[LOTE] [decimal](9, 0) NULL,
	[ASIENTO] [decimal](7, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GL_JH]    Script Date: 6/25/2025 2:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_JH](
	[BATCHID] [nchar](6) NOT NULL,
	[BTCHENTRY] [nchar](5) NULL,
	[SRCELEDGER] [nchar](2) NULL,
	[SRCETYPE] [nchar](2) NULL,
	[FSCSYR] [numeric](18, 0) NULL,
	[FSCSPERD] [numeric](18, 0) NULL,
	[JRNLDESC] [nchar](60) NULL,
	[DATEENTRY] [nchar](12) NULL,
	[COMPANYID] [nchar](15) NULL,
	[ESTADO] [nchar](15) NULL,
	[RESULTADO] [nchar](255) NULL,
	[FECHA] [decimal](9, 0) NULL,
	[HORA] [time](7) NULL,
	[LOTE] [decimal](9, 0) NULL,
	[ASIENTO] [decimal](7, 0) NULL,
	[USUARIO] [nchar](15) NULL
) ON [PRIMARY]
GO
USE [master]
GO
