USE [hencore_accpac]
GO
/****** Object:  Table [dbo].[GL_JD]    Script Date: 7/14/2025 8:34:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_JD](
	[BATCHNBR] [nchar](6) NOT NULL,
	[JOURNALID] [nchar](5) NOT NULL,
	[TRANSNBR] [nchar](10) NOT NULL,
	[ACCTID] [numeric](18, 0) NULL,
	[COMPANYID] [nchar](15) NULL,
	[TRANSAMT] [decimal](19, 3) NULL,
	[TRANSDESC] [nchar](60) NULL,
	[TRANSREF] [nchar](60) NULL,
	[TRANSDATE] [nchar](15) NULL,
	[COMENTARIO] [nvarchar](255) NULL,
	[LOTE] [decimal](9, 0) NULL,
	[ASIENTO] [decimal](7, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[BATCHNBR] ASC,
	[JOURNALID] ASC,
	[TRANSNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GL_JH]    Script Date: 7/14/2025 8:34:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_JH](
	[BATCHID] [nchar](6) NOT NULL,
	[BTCHENTRY] [nchar](5) NOT NULL,
	[SRCELEDGER] [nchar](2) NULL,
	[SRCETYPE] [nchar](2) NULL,
	[FSCSYR] [numeric](18, 0) NULL,
	[FSCSPERD] [numeric](18, 0) NULL,
	[JRNLDESC] [nchar](60) NULL,
	[DATEENTRY] [nchar](12) NULL,
	[COMPANYID] [nchar](15) NULL,
	[ESTADO] [nchar](15) NULL,
	[RESULTADO] [nchar](255) NULL,
	[FECHA] [decimal](9, 0) NULL,
	[HORA] [time](7) NULL,
	[LOTE] [decimal](9, 0) NULL,
	[ASIENTO] [decimal](7, 0) NULL,
	[USUARIO] [nchar](15) NULL,
	[DOCDATE] [nchar](12) NULL,
	[BATCHDESC] [nchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[BATCHID] ASC,
	[BTCHENTRY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GL_JD] ([BATCHNBR], [JOURNALID], [TRANSNBR], [ACCTID], [COMPANYID], [TRANSAMT], [TRANSDESC], [TRANSREF], [TRANSDATE], [COMENTARIO], [LOTE], [ASIENTO]) VALUES (N'250710', N'00005', N'0000000020', CAST(141180 AS Numeric(18, 0)), N'HBCMX          ', CAST(-7.140 AS Decimal(19, 3)), N'EOD-LP - ID# 26221 - Kost Financial Corp - PRE PARTICIPADOS ', N'Kost Financial Corp - Interes de Valor Fecha por Pago       ', N'05/15/2025     ', NULL, NULL, NULL)
INSERT [dbo].[GL_JD] ([BATCHNBR], [JOURNALID], [TRANSNBR], [ACCTID], [COMPANYID], [TRANSAMT], [TRANSDESC], [TRANSREF], [TRANSDATE], [COMENTARIO], [LOTE], [ASIENTO]) VALUES (N'250710', N'00005', N'0000000040', CAST(45008080 AS Numeric(18, 0)), N'HBCMX          ', CAST(7.140 AS Decimal(19, 3)), N'EOD-LP - ID# 26221 - Kost Financial Corp - PRE PARTICIPADOS ', N'Kost Financial Corp - Interes de Valor Fecha por Pago       ', N'05/15/2025     ', NULL, NULL, NULL)
INSERT [dbo].[GL_JD] ([BATCHNBR], [JOURNALID], [TRANSNBR], [ACCTID], [COMPANYID], [TRANSAMT], [TRANSDESC], [TRANSREF], [TRANSDATE], [COMENTARIO], [LOTE], [ASIENTO]) VALUES (N'250710', N'00006', N'0000000020', CAST(140680 AS Numeric(18, 0)), N'HBCMX          ', CAST(8.160 AS Decimal(19, 3)), N'EOD-BO - ID# 13166 - Solsticio, S.A. de C.V. - PRE PARTICIPA', N'Solsticio, S.A. de C.V. - Interes de Valor Fecha por Pago   ', N'05/15/2025     ', NULL, NULL, NULL)
GO
INSERT [dbo].[GL_JH] ([BATCHID], [BTCHENTRY], [SRCELEDGER], [SRCETYPE], [FSCSYR], [FSCSPERD], [JRNLDESC], [DATEENTRY], [COMPANYID], [ESTADO], [RESULTADO], [FECHA], [HORA], [LOTE], [ASIENTO], [USUARIO], [DOCDATE], [BATCHDESC]) VALUES (N'250710', N'00005', N'GL', N'JE', CAST(2025 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), N'EOD-LP - ID# 26221 - Kost Financial Corp - PRE PARTICIPADOS ', N'05/15/2025  ', N'HBCMX          ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'05/15/2025  ', N'05/15/2025 - GL                                             ')
INSERT [dbo].[GL_JH] ([BATCHID], [BTCHENTRY], [SRCELEDGER], [SRCETYPE], [FSCSYR], [FSCSPERD], [JRNLDESC], [DATEENTRY], [COMPANYID], [ESTADO], [RESULTADO], [FECHA], [HORA], [LOTE], [ASIENTO], [USUARIO], [DOCDATE], [BATCHDESC]) VALUES (N'250710', N'00006', N'GL', N'JE', CAST(2025 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), N'EOD-BO - ID# 13166 - Solsticio, S.A. de C.V. - PRE PARTICIPA', N'05/15/2025  ', N'HBCMX          ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'05/15/2025  ', N'05/15/2025 - GL                                             ')
INSERT [dbo].[GL_JH] ([BATCHID], [BTCHENTRY], [SRCELEDGER], [SRCETYPE], [FSCSYR], [FSCSPERD], [JRNLDESC], [DATEENTRY], [COMPANYID], [ESTADO], [RESULTADO], [FECHA], [HORA], [LOTE], [ASIENTO], [USUARIO], [DOCDATE], [BATCHDESC]) VALUES (N'250710', N'00007', N'GL', N'JE', CAST(2025 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), N'EOD-LP - ID# 101106 - Miguel Angel Gonzalez Dominguez - CRED', N'05/15/2025  ', N'HBCMX          ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'05/15/2025  ', N'05/15/2025 - GL                                             ')
GO
ALTER TABLE [dbo].[GL_JD]  WITH CHECK ADD  CONSTRAINT [FK_GL_DL_GL_JH] FOREIGN KEY([BATCHNBR], [JOURNALID])
REFERENCES [dbo].[GL_JH] ([BATCHID], [BTCHENTRY])
GO
ALTER TABLE [dbo].[GL_JD] CHECK CONSTRAINT [FK_GL_DL_GL_JH]
GO
